/*.background {
  background: url(../images/reel.png);
}
*/

.logo {
  background-image: url(../images/logo.png);
}

.progressBar {
  background-color: rgb(0, 0, 200);
}

.splash {
  background-image: url(../images/reel.jpg);
}

/*
.watermark {
  background-image: url(../images/watermark.png);
  background-size: 324px 176px;
}
*/

/*
